
body{
    margin: 0;
}

#container {
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    text-align: center;
    width: 24%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    margin-top: 4%;
}

#first_div {
    line-height: 10px;
    margin-bottom: 30px;
}

#second_div {

    margin-bottom: 80px;
}

#email_data {
    font-weight: bold;
}

#otp {
    padding: 8px 40px 8px 11px;
    width: 40%;
    border: none;
    border: 2px solid rgb(173, 11, 11);
    margin-bottom: -30px;
    outline: none;
    border-radius: 5px;
}

#verify {
    /* width: 100%; */
    font-size: 15px;
    margin-top: 10px;
    background: transparent;
    align-items: center;
    border: none;
    background-color: #707070;
    padding: 15px 80px 15px 80px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 3px 0px;
    color: rgb(215, 213, 213);
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

#Access_sd1 {
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: 21px;
    margin-left: 142px;
    font-size: 8px;
}

#conscent1_sd {
    width: 46px;
    height: 7px;
    position: relative;
    top: 9px;
}

#did{
    font-size: 11px;
}